.container {
  margin: 0;
}

span {
  padding: 2px;
}

.example-container {
  width: 100%;
  height: 100%;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-icon-1 {
  margin-left: 15%;
}

.example-icon-2 {
  margin-left: 15%;

}

.example-sidenav {
  width: 15%;
  padding-top: 20px;
  padding-left: 10px;
}
